<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.izhharuddinarief.tugasakhir">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.Splash"
            android:theme="@style/AppTheme.NoActionBar.Main"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar.Main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Wisata"
            android:label="@string/judul_activity_wisata"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DetailWisata"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Main" />
        <activity
            android:name=".ui.RuteWisata"
            android:label="Rute Wisata"
            android:parentActivityName=".ui.DetailWisata"
            android:screenOrientation="portrait" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity
            android:name=".ui.PetaWisata"
            android:label="Peta Lokasi Wisata"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Tentang"
            android:label="Tentang"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Bantuan"
            android:label="Bantuan"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>
</manifest>